<div class="form-group mb-3" *ngIf="contactInfo">
  <label>mobile</label>
  <input type="text" class="form-control" [(ngModel)]="contactInfo.mobile">
</div>
<div class="form-group mb-3">
  <label>phone</label>
  <input type="text" class="form-control" [(ngModel)]="contactInfo.phone">
</div>
<div class="form-group mb-3">
  <label>User address</label>
  <input type="text" class="form-control" [(ngModel)]="contactInfo.address">
</div>
<button class=" btn btn-danger" (click)="askForValidation()">Small Compoennt</button>